// ==========================================================================
// ./source/index.html
// ==========================================================================

- var title = "Contoso"
- var description = "A test for Beezy Company, I hope you enjoy!"
- var author = "Álvaro Marqués"

// File paths (not the file, because there could be more, making reusable)
- var css = "css/"
- var js = "js/"

// Photo files
- var phones_mobile = "assets/images/phones-mobile/phones-mobile" //used in index.html 
- var phones_desktop = "assets/images/phones-desktop/phones-desktop" //not used because srcset is injectec by JS for save a request
